/* Description: Global styles */
  @import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* set imported font as the standard font throughout the site */
  body {
    font-family: 'Jost', sans-serif;
  }
  .page-break-before {
    page-break-before: always;
  }

  @page {
    size: Letter;
    margin: 20mm;
  }

  @media print {
    body {
      color: #444;
      background: #fff;
      margin: 0;
      padding: 0;
      -webkit-print-color-adjust: exact;
    }
    .print-container {
      width: 100%;
      max-width: 8.5in;
      height: 11in;
      margin: 0;
    }
    .no-print {
      display: none;
    }
  }
